@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

body:after {
    content: url('/src/assets/project-1-dark.png') 
    url('/src/assets/project-2-dark.png') 
    url('/src/assets/project-3-dark.png') 
    url('/src/assets/project-4-dark.png')
    url('/src/assets/project-5-dark.png');
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}